@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-title: 'Inter Variable', 'sans-serif';
  --font-sans: 'Roboto Variable', 'sans-serif';

  --color-muted-50: #f5f6f6;
  --color-muted-100: #e4e7e9;
  --color-muted-200: #ccd2d5;
  --color-muted-300: #a9b3b7;
  --color-muted-400: #7e8b92;
  --color-muted-500: #637077;
  --color-muted-600: #555f65;
  --color-muted-700: #495155;
  --color-muted-800: #3d4246;
  --color-muted-900: #393d40;
  --color-muted-950: #232629;

  --color-mariner-50: #f1f8fd;
  --color-mariner-100: #dfeffa;
  --color-mariner-200: #c7e3f6;
  --color-mariner-300: #a0d1f0;
  --color-mariner-400: #73b7e7;
  --color-mariner-500: #529cdf;
  --color-mariner-600: #3d81d3;
  --color-mariner-700: #3772c9;
  --color-mariner-800: #30599d;
  --color-mariner-900: #2b4c7d;
  --color-mariner-950: #1f2f4c;

  --color-monza-50: #fff1f2;
  --color-monza-100: #ffe1e2;
  --color-monza-200: #ffc7c9;
  --color-monza-300: #ffa0a4;
  --color-monza-400: #ff6a70;
  --color-monza-500: #f83b43;
  --color-monza-600: #e61c24;
  --color-monza-700: #bb131a;
  --color-monza-800: #a0141a;
  --color-monza-900: #84181c;
  --color-monza-950: #48070a;

  --color-lucky-50: #f0f3fe;
  --color-lucky-100: #dee3fb;
  --color-lucky-200: #c4cff9;
  --color-lucky-300: #9cb0f4;
  --color-lucky-400: #6d87ed;
  --color-lucky-500: #4b60e6;
  --color-lucky-600: #3641da;
  --color-lucky-700: #2d30c8;
  --color-lucky-800: #2b2aa3;
  --color-lucky-900: #272881;
  --color-lucky-950: #242362;

  --animate-slow-zoom: slow-zoom 27s ease forwards;
  --animate-fast-zoom: fast-zoom 9s ease alternate infinite;
  
  @keyframes slow-zoom {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.15);
      }
    }
  
    @keyframes fast-zoom {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.25);
      }
    }
}


.btn-primary {
  @apply bg-mariner-600 border border-mariner-600 text-white font-semibold rounded-full px-7 py-3 flex items-center justify-center gap-2 cursor-pointer hover:bg-white hover:border-mariner-900 hover:text-mariner-600 transition duration-200 hover:scale-105;
}

.btn-transparent {
  @apply bg-transparent border border-white rounded-full px-7 py-3 text-white font-semibold cursor-pointer hover:bg-white hover:text-mariner-600 transition duration-200 hover:scale-105;
}

.title {
  @apply font-title text-4xl md:text-5xl lg:text-6xl font-bold text-mariner-600 mb-4
}

.subtitle {
  @apply text-lg md:text-xl text-gray-600 max-w-3xl mx-auto
}