---
import BaseLayout from "../layouts/BaseLayout.astro";
import { PHONE_NUMBER, EMAIL_ADDRESS } from "../data/consts";
import Hero75 from "../components/Hero75.astro";
import { CheckIcon } from "@heroicons/react/24/solid";

const headerData = {
  image: {
    src: "/src/assets/RRM-2025-FLYIN-MDE-Team-12.png",
    alt: "Thank you for contacting Grow My FBO",
  },
  title: "We’ve received your message!",
  subTitle:
    "A member of the Grow My FBO team will get back to you shortly. In the meantime, feel free to explore our marketing system or contact us if you have any immediate questions.",
};
---

<BaseLayout
  siteTitle="Thank You for Contacting Grow My FBO"
  siteDescription="We’ve received your message! A member of the Grow My FBO team will get back to you shortly. In the meantime, feel free to explore our marketing system or contact us if you have any immediate questions."
>
  <Hero75 data={headerData} />
  <section class="py-20 flex justify-center bg-gray-100">
    <div class="text-center lg:w-3/5 md:w-4/5">
      <h2 class="font-bold text-4xl py-10">Thank you for contacting us</h2>
      <div class="flex flex-row justify-center">
        <div class="bg-mariner-200 rounded-lg p-6 mb-10">
          <CheckIcon className="size-10 text-mariner-600" />
        </div>
      </div>

      <p class="px-5 max-w-3xl mx-auto text-lg leading-8 text-gray-700">
        Thank you for contacting Right Rudder Marketing. We are excited to work
        with you soon. We will review your message and respond within 1-5
        business days. <br />
        You can also call us at <a
          href={`tel:${PHONE_NUMBER}`}
          class="hover:underline hover:text-main-color font-bold"
          >{PHONE_NUMBER}</a
        >.
      </p>
      <a href="/">
        <div class="btn-primary mx-auto mt-10 w-52">HOME</div>
      </a>
    </div>
  </section>
</BaseLayout>
