---
import ImageComp from "./ImageComp.astro";

interface Organization {
  name: string;
  imagePath: string;
  imageAlt: string;
  link: string;
}

const { heading, organizations } = Astro.props;
---

<section
  class="py-24 flex flex-col justify-center align-middle items-center bg-gray-200"
>
  <h3
    class="text-4xl font-semibold tracking-tight text-gray-900 max-w-4xl text-center"
  >
    {heading}
  </h3>
  <div
    class="max-w-5xl mt-12 flex flex-wrap justify-center gap-3 items-center align-middle"
  >
    {
      organizations.map((org: Organization) => (
        <a
          href={org.link}
          target="_blank"
          class="group py-3 px-9 bg-white lg:bg-white/25 h-36 w-[330px] flex justify-center align-middle items-center rounded-sm overflow-hidden hover:bg-white duration-300 ease-in-out"
        >
          <ImageComp
            src={org.imagePath}
            alt={org.imageAlt}
            class="max-w-60 max-h-32 object-contain group-hover:scale-105 duration-300 ease-in-out"
          />
        </a>
      ))
    }
  </div>
</section>
